@{
    ViewBag.Title = "Codigo SQL: Comandos ";
}

<div class="jumbotron">
    <h2 class="display-3"> PROYECTO MICRO SQL: Comandos SQL</h2>
    <h4 class="display-3"> Escribe tus acciones, modifica tus tablas, añade, elimina, etc.</h4>
    <p class="lead">
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <p>ESCRIBE TU CODIGO SQL</p>
        <textarea class="form-control"
                  rows="40"
                  cols="20"></textarea>
        <hr />
        <input type="submit" value="Subir" class="btn btn-outline-success" />
    }
        </p>
        <h6>@ViewBag.Msg</h6>
    </div>
