
@{
    ViewBag.Title = "Grid de Ultima tabla";
}

    <h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDPrimaryKey)
        </th>
        <th></th>
    </tr>

@foreach (var item in ProyectoMicroSQL.Singleton.Data.Instancia.Arboles[ProyectoMicroSQL.Singleton.Data.Instancia.nombreTabla]) {
    <tr>
        @for (int j = 0; j < ProyectoMicroSQL.Singleton.Data.Instancia.Arboles[]; j++)
        {

        }
        <td>
            @Html.DisplayFor(modelItem => item.IDPrimaryKey)
        </td>

    </tr>
}

</table>
