
@{
    ViewBag.Title = "Menu";
}

<h2>Menu principal SQL</h2>

<h4>CODIGO SQL</h4>

<h4>GRID</h4>

<h4>VER RESULTADOS</h4>

<h4>PERSONALIZAR DICCIONARIO</h4>
<button type="button" onclick="location.href= '@Url.Action("Personalizar","Home")'">PERSONALIZAR DICCIONARIO </button>


<h4>REESTABLECER DICCIONARIO</h4>
<button type="button" onclick="location.href= '@Url.Action("Reestablecer","Home")'">REESTABLECER DICCIONARIO </button>

